{% extends 'base.html' %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    {% endblock %}

    {% block header %}
        <div class="header_con">
            <div class="header">
                <div class="welcome fl">欢迎来到天天生鲜!</div>
                <div class="fr">
                    {% if user.username %}
                    <div class="login_btn fl">

                        欢迎您：<em>{{ user.username }}</em>

                    </div>
                    {% else %}
                    <div class="login_btn fl">
                        <a href="{% url 'user:login' %}">登录</a>
                        <span>|</span>
                        <a href="{% url 'user:register' %}">注册</a>
                    </div>
                    {% endif %}
                    <div class="user_link fl">
                        <span>|</span>
                        <a href="{% url 'user:user_center_info' %}">用户中心</a>
                        <span>|</span>
                        <a href="{% url 'carts:cart' %}">我的购物车</a>
                        <span>|</span>
                        <a href="user_center_order.html">我的订单</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block js1 %}
        <script>
            $.ajax({
                url: '/carts/count_cart/',
                dataType: 'json',
                type: 'GET',
                success: function(data){
                    $('#show_count').text(data.count)
                },
                errors: function(data){
                    alert('获取购物车数量失败')
                }
            })
        </script>
    {% endblock %}

    {% block search %}
        <div class="search_bar clearfix">
            <a href="{% url 'goods:index' %}" class="logo fl"><img src="/static/images/logo.png"></a>
            <div class="search_con fl">
                <input type="text" class="input_text fl" name="" placeholder="搜索商品">
                <input type="button" class="input_btn fr" name="" value="搜索">
            </div>
            <div class="guest_cart fr">
                <a href="{% url 'carts:cart' %}" class="cart_name fl">我的购物车</a>
                <div class="goods_count fl" id="show_count">0</div>
            </div>
        </div>
    {% endblock %}

    {% block footer %}
        <div class="footer">
            <div class="foot_link">
                <a href="#">关于我们</a>
                <span>|</span>
                <a href="#">联系我们</a>
                <span>|</span>
                <a href="#">招聘人才</a>
                <span>|</span>
                <a href="#">友情链接</a>
            </div>
            <p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
            <p>电话：010-****888    京ICP备*******8号</p>
        </div>
    {% endblock %}
{% block js2 %}
	<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>

{% endblock %}